{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "e63d1505dc556355b4d14c9ab8a88889519cbc3e"
                            #_#_:local/root "../open-source"}}}
