{:deps     {:aliases [:dev]}
 :dev-http {8007 "classpath:public"}
 :builds   {:dev {:target     :browser
                  :modules    {:main {:entries [lambdaisland.fetch]}}
                  :output-dir "resources/public/dev"
                  :asset-path "dev"
                  :devtools   {:repl-pprint true}}}}
