#kaocha/v1
{:plugins [:notifier :print-invocations :profiling]
 :tests [{:id :browser
          :type :kaocha.type/cljs
          :cljs/repl-env cljs.repl.browser/repl-env}
         {:id :node
          :type :kaocha.type/cljs}]}
